<h1>Contact Number : {{ contactNumber | countryCode }}</h1>

<h1>{{ "Hello World" | reverse | uppercase }}</h1>

<div class="row mb-5">
  <div class="col-6">
    <select class="form-control" [(ngModel)]="filteredStatus">
      <option value="pending">Pending</option>
      <option value="completed">Completed</option>
    </select>
  </div>
  <div class="col-6">
    <div class="d-grid">
      <button class="btn btn-primary" (click)="addNew()">Add New</button>
    </div>
  </div>
</div>

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let todo of todoCollection | filter : filteredStatus"
  >
    {{ todo.label | uppercase }} -
    <span class="badge bg-primary float-end">{{ todo.status }}</span>
  </li>
</ul>
